* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:active,
a:focus,
button:active,
button:focus {
    outline: none;
}

.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.logo {
    display: inline-block;
    margin-top: 21px;

    width: 201px;
    height: 209px;
}

.block {
    display: inline-block;
    vertical-align: top;
    margin: 39px 0 0 30px;
}

.contact {
    display: inline-block;
    vertical-align: top;
    float: right;
    font-family: Arial, sans-serif;
    color: #221f1b;
    margin-top: 39px;
}

.phone {
    font-size: 30px;
}

.address {
    font-size: 15px;
}

.theme {
    font-family: Arial, sans-serif;
    color: #221f1b;
    font-size: 15px;
    margin-bottom: 25px;
}

.btn {
    font-family: Arial, sans-serif;
    color: #221f1b;
    font-size: 17px;

    box-sizing: border-box;
    height: 44px;
    width: 227px;
    padding: 6px 0 0 32px;

    text-align: center;

    background-color: #f8c300;
    position: relative;
    border-bottom: 3px solid #fad240;
}

.btn::before {
    position: absolute;
    top: 14px;
    left: 32px;

    box-sizing: border-box;
    width: 22px;
    height: 15px;

    content: '';
    background: url('./images/phone.png') no-repeat;
}

.top_line {
    width: 100%;
    height: 50px;

    margin-top: -54px;
    box-sizing: border-box;
}

.left_line {
    position: absolute;
    top: 0;
    right: 100%;

    box-sizing: border-box;
    width: 100vh;
    height: 49px;

    background-color: #f8c300;
    margin-right: -34px
}

.left_line::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 49px 0 0 49px;
    border-color: transparent transparent transparent #f8c300;
    content: '';
    top: 0;
    right: -49px;
    position: absolute;
}

.right_line {
    background-color: #383431;
    position: absolute;
    top: 0;
    left: 100%;

    box-sizing: border-box;
    width: 100vh;
    height: 49px;
}

.menu_top::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 49px 49px;
    border-color: transparent transparent #383431 transparent ;
    content: '';
    top: 0;
    left: -49px;
    position: absolute;
}

.menu_top > li {
    display: inline-block;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 0 18px;
    box-sizing: border-box;
    height: 49px;
    line-height: 49px;
    position: relative;
}

.menu_top {
    margin-left: 165px;
    background-color: #383431;
    position: relative;
    padding-left: 50px;
    z-index: 1;
}

.submenu {
    display: none;
    position: absolute;
    left: 0;
    background-color: #221f1b;
    list-style-type: none;
    padding: 0 18px;
    min-width: 100%;
}

.submenu a {
    color: #f8c300;
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
}

.menu_top li:hover .submenu {
    display: block;
}

.menu_top > li > a {
    text-decoration: none;
    color: #ffffff;
}

.menu_top li:hover {
    background-color: #221f1b;
}

.slider__list li {
    list-style-type: none;
}

.slider {
    position: relative;
    margin-top: 18px;
}

.slider__prev,
.slider__next{

    width: 45px;
    height: 90px;
    position: absolute;

    border: none;
}

.slider__prev {
    background: url('./images/arrow_left.png') no-repeat;
    left: -45px;
    top: 150px;
}

.slider__next {
    background: url('./images/arrow_right.png') no-repeat;
    right: -45px;
    top: 150px;
}

.bricks {
    font-size: 0;
    bottom: 14px;
    position: absolute;
    width: 100%;
    text-align: center;
}

.active {
    background-color: #fefefe;
}

.slider-container {
    position: relative;
}

.bricks a {
    height: 12px;
    width: 27px;
    border: 3px solid #fefefe;
    list-style-type: none;
    display: inline-block;
    margin-right: 4px;
}

.bricks a:last-child {
    margin-right: 0;
}

.service {
    display: inline-block;
    margin: 20px 28px 0 0;
}

.service:last-child {
    margin-right: 0;
}

.menu_pic {
    font-size: 0;
}

.service_name {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: -30px;
    padding-right: 26px;
}

.service_name::after {
    background: url('./images/arrow_right.png') no-repeat;
}

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;

    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}