* {
    margin: 0;
    padding: 0;
}

.top {
    outline: 1px solid blue;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    outline: 1px solid red;
    margin-top: 21px;
}

.block {
    display: inline-block;
    outline: 1px solid black;
    vertical-align: top;
    margin: 39px 0 0 30px;
}

.contact {
    display: inline-block;
    outline: 1px solid green;
    vertical-align: top;
    float: right;
    font-family: Arial, sans-serif;
    color: #221f1b;
    margin-top: 39px;
}

.phone {
    font-size: 30px;
}

.address {
    font-size: 15px;
}

.theme {
    font-family: Arial, sans-serif;
    color: #221f1b;
    font-size: 15px;
    margin-bottom: 25px;
}

.btn {
    font-family: Arial, sans-serif;
    color: #221f1b;
    font-size: 17px;

    box-sizing: border-box;
    height: 44px;
    width: 227px;
    margin-top: 25px;
    padding: 6px 0 0 32px;

    text-align: center;

    background-color: #f8c300;
    position: relative;
}

.btn::before {
    position: absolute;
    top: 14px;
    left: 32px;

    box-sizing: border-box;
    width: 22px;
    height: 15px;

    content: '';
    background: url('./images/phone.png') no-repeat;
}