* {
    margin: 0;
    padding: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    outline: 1px solid red;
    margin-top: 21px;
}

.block {
    display: inline-block;
    outline: 1px solid black;
    vertical-align: top;
    margin: 43px 0 0 30px;
}

.contact {
    display: inline-block;
    outline: 1px solid green;
    vertical-align: top;
    float: right;
    font-family: Arial, sans-serif;
    color: #221f1b;
    margin-top: 35px;
}

.phone {
    font-size: 30px;
}

.address {
    font-size: 15px;
}

.theme {
    font-family: Arial, sans-serif;
    color: #221f1b;
    font-size: 15px;
    margin-bottom: 25px;
}

.btn {
    font-family: Arial, sans-serif;
    color: #221f1b;
    font-size: 17px;
}